


/* ****************************** */
/* TASK CARD FEATURES             */
/* ****************************** */
.up-arrow, .up-arrow-inner{
	position: absolute;
  color: #fefefe;
  right: 12px;
  border-style: solid;
  height: 0;
  width: 0;
}
.up-arrow{
    top: -15px;
    border-color: #b1b1b1 transparent;
    border-width: 0 10px 15px;
}
.up-arrow-inner{
		top: -12px;
    border-color: #fefefe transparent;
    border-width: 0 10px 14px;
}
.checkmark{ opacity:0; color:#525252; }
.checkmark.is-picked{ opacity: 1; color:#525252 }
/* ****************************** */


/* ****************************** */
/* TASK MODAL DETAILS FEATURES    */
/* ****************************** */
.modal-dialog {	width: 40%; }
.modal-header {
	background-color: #343434;
	padding: 1px;
}
.card-main { width: 75%; }
.card-sidebar { float: right; }
.drag-handle {
	height: 15px;
	width: 0;
	padding: 0;
}
.modal-title {
	color: white;
	padding: 20;
}
h4 { margin: 4; }
.card-comment-item { margin: 0 0 20px 58px; }
.card-comment-header {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 5px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-size: 14px;
	line-height: 33px;
	padding-left: 6px;
	background-color: #f6f6f6;
	border: 1px solid #dfdfdf;
	border-radius: 0;
	color: #8b8b8b;
	display: block;
	font-size: 13px;
	font-weight: 700;
	line-height: 30px;
	padding: 0 10px 0 15px;
	position: relative;
}
.card-comment-header:after, .card-comment-header:before {
	border: solid transparent;
	content: " ";
	height: 0;
	position: absolute;
	right: 100%;
	top: 17px;
	width: 0;
}
.card-comment-header:before {
	border-right-color: #dfdfdf;
	border-width: 11px;
	margin-top: -11px;
}
.card-comment-header:after {
	border-right-color: #f6f6f6;
	border-width: 10px;
	margin-top: -10px;
}
.card-comment-avatar {
	border-radius: 6px;
	float: left;
	margin: 0;
	position: relative;
	height: 40px;
	width: 40px;
}
.card-comment-body {
	padding: 15px;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-top: none;
	margin: 0;
	color: #525252;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 0;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	overflow: auto;
	width: 100%;
}
.btn-icon {
	height: 30px;
	width: 30px;
	padding: 3 0 3 0; /*top & bottom*/
	margin: 0px;
	border-color: transparent;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.card-sidebar .status {
	display: block;
	margin-bottom: 5px;
	padding: 0;
	text-align: center;
}
.sidebar-options {
	margin: 20 0 20 0;
	padding: 0;
}
.card-sidebar .option-button {
	color: #828282;
	background: none;
	border: none;
	padding: 3 0 3 0;
	font-size: 18px;
	margin: 0;
	text-align: left;
	transition: all .3s;
	width: 100%;
	height: 30px;
}
.card-sidebar .option-button:hover, 
.card-sidebar .option-button:active,
.card-sidebar .option-button:focus {
	color: #222;
}
.card-sidebar .menu-toggle-icon {
	height: 30px;
	width: 30px;
	color: #b1b1b1;
	float: right;
	transition: all .3s;
	padding: 4;
	margin: 0;
}
.img-rounded{ border-radius: 6px; }
.img-circle{ border-radius: 50%; }
.avatar-rounded{ border-radius: 3px; }
/* ****************************** */


.kanban-board-header{
	text-align: center;
}
.kanban-title-board{
	color: #eee;
}

.kanban-item{
  padding: 4px 1px 4px 4px !important;
  box-sizing: border-box;
  
  /*
  this causes the menu dropdowns to appear inside the card - not what we want
  overflow: auto;
  */
  
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  transition: box-shadow 1s;
  transition: -webkit-box-shadow 1s;
}


.kanban-item-delete{
	float: right;
	overflow: auto;
}

.header{
	height: 20px;
	-webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fefefe;
  cursor: move;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* top right bottom left*/
  padding: 0px 0px 0px 5px;
  width: 100%;
}
.header .id{
  color: #54acef;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  font-weight: 700;
  margin: -6px 0 0 -8px;
  padding: 5px 6px 0 5px;
}
.right{
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-left: 6px;
  text-align: right;
}


.fa,.fas{
	/*
	color: #cdcdcd;
  height: 20px;
  padding: 0px 5px 0 7px;
  transition: all .4s;
  vertical-align: top;
	*/
	
  color: #cdcdcd;
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  line-height: 20px;
  margin-left: 5px;
  padding: 1px 2px 2px;
  text-decoration: none;
  transition: all .4s;
	
	display: inline-block;
	font: normal normal normal 16px/1 FontAwesome;
	text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-user:before{
	content: "\f007";
}
.fa-dots:before{
	content: "\f142";
}
.fas-comment-alt:before{
	content: "\f27a";
}
.assigned,.unassigned{
  display: block;
}
/*
.card .body .title{
  float: left;
  overflow: auto;
	width:92%;
}
*/

/*
.card .body textarea.title{
	overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  vertical-align: bottom;
  
  height: auto;
}
*/

.card .body .title{
	font-size: 14px;
	
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  color: #525252;
  line-height: 18px;
  margin: 0;
  min-height: 22px;
  overflow: hidden;
  padding: 2px 2px 0;
  resize: none;
  white-space: normal;

	width:92%;
}

.card .footer {
	height: 22px;
  padding-top: 3px;
}
.labels{
	height: 22px;
	/*
	width: 180px;
	*/
	width: 79%;
	float: left;
}

.actions{
	height: 22px;
	/*
	width: 200px;
	*/
	width: 18%;
		
	float: right;
}

.action-menu-btn{
	/*
	position: relative;
	*/
	
}

/*
.labels label-pill{
    float: left;
    margin-right: 5px;
    background: #ccc
}
.labels span{
	overflow: hidden;
}
.labels input{
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block
}
*/

.btnLabelDelete, .btnLabelNew{
	/*
    width: 9px;
    background: url('https://cdn1.iconfinder.com/data/icons/design-estate/66/close-cross-circle-512.png') 10px 10px no-repeat;
	*/
    height: 11px;
	  color: #777;
	  background: transparent;
    position: relative;
    border: 0;
    top: -1px;
    left: 9px;
}
.btnLabelNew{
	left:  0px !important;
}
.popup-dialog{
    border: #ccc solid 1px;
    background-color: white;
    left: 90%;
    height: 10%;
    width: 50%;
    z-index: 1;
    position: absolute;
}
.label-pill-new{
	border: #bbb solid 0px;
}
.open.label-pill-new, .label-pill-new:hover{
	border: #bbb solid 1px;
}
/*
textarea:focus,input:focus{ 
*/
input:focus{
    outline: none;
}
.label-pill-new input{
	border: 0px;
	width: 40px;	
	height: 14px;

}
.label-pill{
    -webkit-border-radius: 2px;
    -moz-border-radius:    2px;
    border-radius:         2px;
    cursor: default;
    padding: 1 7 1 7;
    font-size: 8pt;
    color: white;
    /*
    display: inline-block;
    */
    line-height: 25px;
    /*
    position: relative;
    top: -3px;
    */
    margin: 0 3 0 3;
}
.label-pill-green{
		/*
		background-color: rgb(127, 226, 152);
		*/
		background-color: #71b568;
    
}



/*
perhaps try getting the event, clicked object/button and setting the absolute position from the x & y of the clicked element
*/

.actions button,
.header button{
	height: 22px;
	width: 30px;
	padding: 0px 20px 0px 0px;
	margin: 0px;
	/* remove button borders*/
  border-color: transparent;
	background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown{
/*
	left: auto;
    margin-top: 3px;
    padding: 0;
    right: -9px;
	position: absolute;
*/
	
}

.clearfix:after{
	clear: both;
}
.card .footer .card-footer-action{
	/*
	color: #cdcdcd;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    line-height: 20px;
    margin-left: 5px;
    padding: 1px 2px 2px;
    text-decoration: none;
    transition: all .4s;
	*/
}

.dropdown-menu-item{
    color: #6c6c6c;
    cursor: pointer;
    border-top: 1px solid #e6e6e6;
    height: 35px;
    line-height: 35px;
    padding: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .3s;
    width: 100%;
}

/* defunct*/
.action-btn i:hover, .action-btn i:active, .action-btn i:focus{
	color: #525252;
}

.action-menu-icon:hover, .action-menu-icon:active, .action-menu-icon:focus{
	color: #525252;
}

.dropdown-menu-item:hover{
	color: #777;
}

.dropdown-menu-item.highlight, .dropdown-menu-item:hover {
    background-color: #f6f6f6;
    color: #525252;
}

.card-dropdown-menu:before{
	border-bottom-color: #b1b1b1;
  border-width: 10px;
  margin-top: -16px;
}
/*
.card-dropdown-menu:after, .card-dropdown-menu:before{
    position: absolute;
}
*/

/*
.action-menu .card-dropdown-menu:after, .action-menu .card-dropdown-menu:before {
    border: solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    top: -4px;
    left: 87%;
    width: 0;
}
.action-menu .card-dropdown-menu:after {
    border-bottom-color: #fefefe;
    border-width: 10px;
    margin-top: -15px;
}
*/

.dropdown-menu-item button{
	width: 100%;
	height: 35px;
}
.open>.action-menu{
/*
	left:-100px;
left: 90%;
*/
}

.action-menu{
	position:absolute;
	/*
	float:right;
	width: 18%
	width: 200px;
	left:90%;
	*/
}

.card-dropdown-menu {
	position: relative;
	top: 5px;
	left: -107%;
	
	/*
	left: 41px;
	left:-84%;
	top: 7px;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	*/
}
.open>.card-dropdown-menu {
	padding: 0px;
    /*
    display: block;
    top: 0px;
    position: absolute;
    top:170px;
    */
}

.board .card .footer .card-footer-action {
	/*
    color: #cdcdcd;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    line-height: 20px;
    margin-left: 5px;
    padding: 1px 2px 2px;
    text-decoration: none;
    transition: all .4s;
	*/
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent;
    ent */: ;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link {
    font-weight: 400;
    color: #428bca;
    cursor: pointer;
    border-radius: 0;
}
